*{
    background-color: black;
    color: white;
}

.header{
    margin-top: 30px;
    text-decoration: underline;

}

.input{
    width:100px;
}

#phone, #name, #mail{
    width: 400px;
}

table, tr, td, th{
    border: 1px solid white;
    text-align: center;
    
}

.table{
    margin-top: 40px;
    width: 500px;
}
td{
    height: 40px;
    
    
}

#del{
    width: 90px;
    
}




.del-ed{
    word-spacing: 18px;
}
<i class="fas fa-trash"></i>
<i class="fas fa-edit"></i>