.wrap{
    /* background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);  */
    /* background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);  */
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    color: white;
    padding-left: 30px;
    padding-top: 12px;
    /* margin: 0; */
    height: 260px;
    width: 260px;
    margin-top: 30%; 
    border: 1px solid black;
    border-radius: 45px;
    border: none;

}

body{
    background-color: black;
   
}

.outer-layout{
    border: 15px solid white;
    height: 200px;
    width: 200px;
    border-radius: 45px;
    /* margin-top: 20px; */


    

}

.inner-circle{
    border: 15px solid white;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    margin-top: 35px;
    margin-left: 35px;

}

.notification{
    border: 1px solid black;
    border-radius: 50%;
    border: none;
    background-color: red;
    color: white;
    text-align: center;
    height: 50px;
    width: 50px;
    margin-top: -30px;
    margin-left: 200px;
    font-size: 35px;
    padding-bottom: 5px;
}

.title{
    font-size: 85px;
    font-family: Billabong;
    color: white;
    /* margin-left: 350px; */
    /* margin-top: 10px; */
}

