*{
    background-color: rgb(63, 63, 95);
    margin-left: 5px;
    margin-right: 7px;
    
   
}

.header{
    color: white;
    margin-top: 50px;
    text-decoration: underline;
    
}

.form{
   
    margin-top: 40px;
}

.label{
    color: white;
    font-size: 25px;
}
.input{
   width:350px;
   
}

.textarea{
    background-color: white;
    width: 500px;
    
}

.error{
    color: red;
}
.form2{
    margin-top: 30px;

}

.header2{
    margin-top: 90px;
    color: white;
    text-decoration: underline;


}
.header3{
    margin-top: 50px;
    color: white;
    margin-left: -5px;
    text-decoration: underline;
    
}

/* #login{
    display: none;
} */
.hidden{
    display: none;
}